# Dependency directories
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Uploaded content and backups
public/uploads/
uploads/

# Binaries (cloudflared.exe는 다른 PC에서 즉시 구동하기 위해 포함시킵니다)
# bin/
# *.exe

# System Files
.DS_Store
Thumbs.db

# Project specific unused/history
history/
.env
